/* Variables*/
/* Styles*/
/*normalize*/
*, html, body {
  margin: 0;
  padding: 0;
  font-family: roboto, sans-serif; }

/*body styling*/
body {
  background-image: url(img/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  body::before {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1; }

/*flex page wrapper*/
.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /*flex page header*/ }
  .page-wrapper .page-header {
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box; }
    .page-wrapper .page-header h1 {
      padding: 1.5rem 6rem;
      text-align: center;
      font-size: 4rem;
      color: #ebbc2f;
      text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
      font-family: 'Pacifico', cursive; }
  .page-wrapper footer.page-footer {
    background-color: rgba(34, 44, 56, 0.5);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5); }
    .page-wrapper footer.page-footer p {
      color: #ffffff;
      font-size: .8rem; }

/*flex key container*/
.keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .keys .key {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    margin-top: 10em;
    padding: 0.6rem;
    border-radius: 1rem;
    border: 0.1rem solid #222c38;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    -webkit-transition: all;
    transition: all; }
  .keys .started {
    -webkit-transform: scale(1.2) rotateY(360deg);
    transform: scale(1.2) rotateY(360deg);
    border-color: #ebbc2f;
    background: #ebbc2f;
    box-shadow: 0 0 0.5rem #ebbc2f; }
    .keys .started .sound {
      color: #222c38; }
    .keys .started kbd {
      color: #222c38; }

/*Single key children*/
.key .sound {
  font-size: 1rem;
  color: #ebbc2f;
  text-align: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-shadow: 0 0 .5rem #000000; }

.key kbd {
  color: #ffffff;
  display: block;
  font-weight: 900;
  font-size: 1.9rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

/*volume controller*/
.volume {
  margin-bottom: 30px; }
  .volume label {
    color: #ffffff; }
